RewriteEngine On

ErrorDocument 404 /404.php

# The order of the rewrites is significant

######################################################
# Redirect Legacy OpenPrinting
######################################################
RewriteCond %{QUERY_STRING} driver=([\w\d_:-]+)&?
RewriteRule show_driver.cgi /driver/%1? [L,R=301]

RewriteCond %{QUERY_STRING} driver=([\w\d_:-]+)&?
RewriteRule ^show_license.cgi /driver/%1/license? [L,R=301]

RewriteCond %{QUERY_STRING} driver=([\w\d_:-]+)&?
RewriteRule ^execution.cgi /driver/%1? [L,R=301]

RewriteCond %{QUERY_STRING} recnum=([\w\d_:]+)-([\w\d_:]+)&?
RewriteRule ^show_printer.cgi /printer/%1/%1-%2? [L,R=301]

RewriteCond %{QUERY_STRING} id=printer:([\w\d_:]+)-([\w\d_:]+)&?
RewriteRule ^edit.cgi /printer/%1/%1-%2? [L,R=301]

RewriteCond %{QUERY_STRING} id=printer:([\w\d_:]+)-([\w\d_:]+)&?
RewriteRule ^wikish_history.cgi /printer/%1/%1-%2? [L,R=301]

RewriteRule edit_printer.cgi/?$ /printers/upload? [L,R=301]

RewriteCond %{QUERY_STRING} make=([\w\d_:+\/-]+)&?
RewriteRule ^printer_list.cgi /printers/manufacturer/%1? [L,R=301]

RewriteCond %{QUERY_STRING} filename=([\w\d_:+\/-]+)&?
RewriteRule ^download.cgi /download/%1? [L,R=301]

RewriteRule ^printer_list.cgi/?$ /printers? [L,R=301]
RewriteRule ^driver_list.cgi/?$ /drivers? [L,R=301]

RewriteRule ^query.cgi/?$ query.php               [L,R=301]
RewriteRule ^ppd-o-matic.cgi/?$ ppd-o-matic.php               [L,R=301]

RewriteRule ^forums.cgi/? http://forums.openprinting.org/ [L,R=301]
######################################################

######################################################
# Main App OpenPrinting
######################################################

RewriteRule ^home/?$ index.php		[L]
RewriteRule ^login/?$ login.php		[L]
RewriteRule ^logout/?$ login.php?doLogout		[L]

RewriteRule ^admin/?$ admin_home.php		[L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^admin/([^/]+)$ admin_$1.php?%1		[L]

RewriteRule ^account/myuploads/?$ account_myuploads.php		[L]

RewriteRule ^printers/?$ printer_list.php		[L]
RewriteRule ^printers/upload/?(\?[^/]*)?$ printer_upload.php$1		[L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^printers/manufacturer/([\w\d\s_+.,()%-]*) printer_manufacturer.php?manufacturer=$1&%1 [L]

RewriteCond %{QUERY_STRING} ^(.*)$
#RewriteRule ^printer/([A-Za-z0-9\-_+.,()%]+)/([A-Za-z0-9\-_+.,()%]+) printer_detail.php?manufacturer=$1&model=$2&%1 [L]
RewriteRule ^printer/([\w\d\s_+.,()%-]*)/([\w\d\s_+.,()%-]*) /printer_detail.php?manufacturer=$1&id=$2&%1	[L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^drivers/?$ driver_list.php		[L]
RewriteRule ^drivers/upload/?(\?[^/]*)?$ driver_upload.php$1		[L]
RewriteRule ^driver/([^/]*)/?$ driver_detail.php?driver=$1		[L]
RewriteRule ^driver/([^/]*)/license/?$ driver_license.php?driver=$1		[L]

RewriteRule ^database/?$ database.php		[L]
