RewriteEngine On

ErrorDocument 404 /404.php

######################################################
# Redirect Legacy OpenPrinting
######################################################
RewriteCond %{QUERY_STRING} ^driver=(.*)$
RewriteRule ^show_driver.cgi    /driver/%1 [L,R=301]

RewriteCond %{QUERY_STRING} ^recnum=(.+)-(.+)$
RewriteRule ^show_printer.cgi    /printer/%1/%1-%2 [L,R=301]

RewriteCond %{QUERY_STRING} ^make=(.*)$
RewriteRule ^printer_list.cgi    /printers/manufacturer/%1 [L,R=301]

RewriteRule ^printer_list.cgi    /printers [L,R=301]
RewriteRule ^edit_printer.cgi    /printers/upload [L,R=301]
######################################################

######################################################
# Main App OpenPrinting
######################################################

RewriteRule ^home/?$ index.php		[L]
RewriteRule ^login/?$ login.php		[L]
RewriteRule ^logout/?$ login.php?doLogout		[L]

RewriteRule ^admin/?$ admin_home.php		[L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^admin/([^/]+)$ admin_$1.php?%1		[L]

RewriteRule ^account/myuploads/?$ account_myuploads.php		[L]

RewriteRule ^query.cgi/?$ query.php               [L]
RewriteRule ^ppd-o-matic.cgi/?$ ppd-o-matic.php               [L]

RewriteRule ^printers/?$ printer_list.php		[L]
RewriteRule ^printers/upload/?(\?[^/]*)?$ printer_upload.php$1		[L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^printers/manufacturer/([\w\d\s_+.,()%-]*) printer_manufacturer.php?manufacturer=$1&%1 [L]

RewriteCond %{QUERY_STRING} ^(.*)$
#RewriteRule ^printer/([A-Za-z0-9\-_+.,()%]+)/([A-Za-z0-9\-_+.,()%]+) printer_detail.php?manufacturer=$1&model=$2&%1 [L]
RewriteRule ^printer/([\w\d\s_+.,()%-]*)/([\w\d\s_+.,()%-]*) /printer_detail.php?manufacturer=$1&id=$2&%1	[L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^drivers/?$ driver_list.php		[L]
RewriteRule ^drivers/upload/?(\?[^/]*)?$ driver_upload.php$1		[L]
RewriteRule ^driver/([^/]*)/?$ driver_detail.php?driver=$1		[L]
RewriteRule ^driver/([^/]*)/license/?$ driver_license.php?driver=$1		[L]

RewriteRule ^database/?$ database.php		[L]
