

ul.bulleted {
	list-style-type: square;
	margin: 10px 10px 10px 30px;
	padding: 4px;
	font-size: 12px;
	color: #4D4D4D;
}	







table.data {
	border-collapse: collapse;
	empty-cells: show;
	border-left: 1px solid #7F9FB4;
	border-right: 1px solid #7F9FB4;
	margin-bottom: 15px;
	margin-top: 5px;
}

table.data tr th {
	background-color:#7F9FB4;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	margin:0 0 10px;
	padding:4px 7px;
	text-transform:capitalize;
	text-align: left;
}

table.data tr td {
	font-size: 13px;
	padding: 2px 7px;
	color: #4D4D4D;
	border-bottom: 1px solid #7F9FB4;
	vertical-align: top;
}

table.data tr.alt td {
	background: #E6F4FB;
}


form {
	color:#4D4D4D;
	font-size:13px;
	line-height:20px;
	margin:0 0 10px;
}




.addpkg { background: url(images/icn_addpkg.png) no-repeat 0 0; }
.logout { background: url(images/icn_logout.png) no-repeat 0 0; }
	
	
	
	
div.login-form input[type=text], div.login-form input[type=password] {
	width: 300px;
	display: block;
}
div.login-form label {
	font-weight: bold;
}
div.login-form div.description {
	font-weight: normal;
	font-size: 10px;
}
div.login-form div.login-message {
	font-size: 12px;
	color: #FF0000;
	font-weight: bold;
	margin: 20px 0;
}


label.wide input[type=text], label.wide select {
	display: block;
	margin-top: 5px;
}


form.small-form {
	width: 85%;
	display: block;
	margin: 15px auto 20px;
	border: 1px dotted #999999;
	background: #ededed;
	padding: 10px;
}

form.small-form .controls {
	border-top: 1px dotted #999999;
}