body {
	background: url(../images/layout/main-bg.png) top left #F5F5F5 repeat-x;
	color: #4D4D4D;
	font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	padding: 0;
	margin: 0;
	font-size:0.75em;
	line-height:1.433em;
}


/* -------------------------------------------------
 * Default element margin/padding clears, list tweaks, etc
 * -------------------------------------------------*/

ul { 
	list-style: none outside none; 
}

ul, li, div, form, fieldset, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

form, fieldset {
	margin: 5px 5px 20px;
}

a img {
	border: none;
}


p{margin:0 0 10px 0; font-size:13px; color:#4d4d4d; line-height:20px;}	

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

a:link { color:#336699; }
a:visited { color:#7F9FB4; } 
a:hover, a:focus { color:#003F69; text-decoration: underline; }


.halfwidth { width: 48%; }
.left { float: left; }
.right { float: right; }

/* -------------------------------------------------
 * Page wrappers
 * -------------------------------------------------*/

body #page {
	background: #FFFFFF;
	overflow-y: hidden;
}

body #page-inner {
	
}

body #page, body #footer {
	width: 980px;
	padding: 0 10px 10px;
	margin: 0 auto;
}

#footer-links {
	background-color:#ADDAF2;
	color:#4D4D4D;
	margin:2em auto 0;
	width: 960px;
	padding: 0 10px 10px;
}

#footer-links .foot-div {
	float:left;
	padding-left:10px;
	width:230px;
}

#footer-links h2 {
	color:#003F69;
	padding-bottom:0.5em;
	font-size:1.3em;
	line-height:1.3em;
	margin-bottom:0.667em;
	margin-top:0.667em;
	font-weight: bold;
}

body #footer {
	width: 850px;
	background:transparent url(../images/layout/footer-logo.png) no-repeat scroll left center;
	padding:12px 0 0 127px;
	color:#336699;
	margin-bottom: 20px;
}

body #footer-links a:link, body #footer-links a:visited {
	color:#000000;
	text-decoration:none;
}

body #footer-links a:hover { text-decoration: underline; }


/* -------------------------------------------------
 * Page header and content
 * -------------------------------------------------*/

#util-nav {
	height: 20px;
	line-height: 20px;
	margin: 0 0 15px;
	overflow: hidden;
	font-size: 12px;
	font-variant:small-caps;
	clear: both;
}

#util-nav a:link { color:#666666; text-decoration:none; }
#util-nav a:visited { color:#999999; text-decoration:none; }
#util-nav a:hover, #util-nav a:focus { color:#5BB6E6; text-decoration:underline; }


#util-nav li {
	padding: 2px 0px 0 0;
}

#lf-link {
	float: left;
	padding: 2px 0 0 0;
	margin-left: 0;
	display: block;
}

#lf-link a {
	margin-right: 5px;
}

#lf-more-contain {
	float: left;
	display: block;
	padding-left: 6px;
}

#lf-more-contain li { float: left; border-left: 1px solid #EEEEEE; }
#lf-more-contain li a { padding-right: 7px; padding-left: 7px;}

#lf-more {
	background:transparent url(../images/icons/down.gif) no-repeat scroll right center;
	padding-right:15px !important;
}

#site-logo a {
	float: left;
	height: 44px;
	width: 200px;
	background: url(../images/layout/openprinting-logo.jpg);
}

#lf-logo a:hover {
	background-position:left -44px;
}

#lf-logo a {
	background:transparent url(../images/layout/lf-logo-header.jpg) no-repeat scroll left top;
	float:right;
	height:44px;
	width:150px;
}


#user-nav {
	float: right;
	display: block;
	padding-right: 6px;
}

#user-nav li { float: left;}

/* -------------------------------------------------
 * Tabs
 * -------------------------------------------------*/

#navbar {
	height:5.6em;
	margin-top: 15px;
	margin-bottom: 10px;
}

#primary-nav {
	font-size: 1.18em;
}

#primary-nav ul {

}

#primary-nav li {
	float: left;
	margin-right: 5px;
}

#primary-nav li:hover, #primary-nav li.active {
	background: url(../images/layout/menu-bg-left.png) no-repeat left center;
}

#primary-nav a:link, #primary-nav a:visited {
	color: #336699;
}

#primary-nav li.active a, #primary-nav a:hover, #primary-nav a:focus {
	color: #FFFFFF;
	text-decoration: none;
	background: url(../images/layout/menu-bg-right.png) no-repeat right center;
}

#primary-nav a {
	display:block;
	float:left;
	font-weight:bold;
	line-height:20px;
	padding:5px 10px;
	text-decoration:none;
}



#sub-nav {
	background:transparent url(../images/layout/navbar-bg.png) repeat-x scroll left top;
	clear:both;
	padding-top:5px;
}

#sub-nav ul {

}

#sub-nav li {
	float: left;
}

#sub-nav a:link, #sub-nav a:visited {
	color: #336699;
}

#sub-nav li.active a, #sub-nav a:hover, #sub-nav a:focus {
	color: #043c61;
	text-decoration: none;
	background: #ffffff;
	margin-top: -4px;
	border-top: 4px solid #7F9FB4;
}

#sub-nav a {
	display:block;
	float:left;
	font-weight:bold;
	line-height:21px;
	padding:5px 10px 6px;
	text-decoration:none;
}


/* -------------------------------------------------
 * Right column search box  (from LF corp site)
 * -------------------------------------------------*/

#search-block-form {
	background:#FFFFFF url(../images/layout/search-field.jpg) no-repeat scroll left top;
	height:23px;
	margin: 0 0 8px 0;
	padding:4px;
	width:292px;
}

#search-block-form .form-text {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	height:16px;
	padding:4px 5px;
	width:252px;
}

#search-block-form .form-submit {
	background:transparent url(../images/layout/search-button.jpg) no-repeat scroll left top;
	border:medium none;
	cursor:pointer;
	height:22px;
	margin:0;
	padding:0;
	text-indent:-5000em;
	width:26px;
}

/* -------------------------------------------------
 * Section headers
 * -------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	}

h1{
	color:#4d4d4d;
	font-size:24px;
	font-weight:normal;
	}
h2{
	color:#4d4d4d;
	font-size:18px;
	font-weight:normal;
	}
	
h4{
	color:#4d4d4d;
	font-size:16px;
	font-weight:normal;
	margin:5px 0 10px 0;
	border-bottom:4px solid #ccc;
	text-transform:capitalize;
	}

h3,h5{
	color:#4d4d4d;
	font-size:13px;
	font-weight:bold;
	margin:5px 0 5px 0;
	text-transform:capitalize;
	}
h6{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	background-color:#7f9fb4;
	margin:0 0 10px 0;
	padding:3px;
	text-transform:capitalize;
	}		

/* -------------------------------------------------
 * Links
 * -------------------------------------------------*/


a.list-link {
	color:#999999;
	font-size:10px;
	font-weight:normal;
	line-height:20px;
	margin:0 0 0 10px;
	padding:2px 0 1px 20px;
	text-decoration:none;
	text-transform:uppercase;
}

a.list-link:hover {
	color:#5BB6E6;
	text-decoration: underline;
}



/* -------------------------------------------------
 * Drop-down menu
 * -------------------------------------------------*/

#dropmenudiv{
	border-color:#CCCCCC;
	border-style:solid;
	border-width:1px 1px 0;
	line-height:18px;
	position:absolute;
	z-index:100;
}

#dropmenudiv a{
	border-bottom:1px solid #CCCCCC;
	display:block;
	font-size:10px;
	padding:1px 0;
	text-decoration:none;
	text-indent:3px;
	width:100%;
}

#dropmenudiv a:hover, #dropmenudiv a:active, #dropmenudiv a:focus {
	color: #3b689a;
	background-color: #eeeeee;
}



/* -------------------------------------------------
 * Tables, intended for listing data
 * -------------------------------------------------*/

table.data {
	border-collapse: collapse;
	border-bottom: 3px solid #CCCCCC;
}

table.data tr th {
	border-bottom:4px solid #CCCCCC;
	text-align: left;
	font-weight: bold;
}

table.data td, table.data th {
	padding: 2px 5px 2px 4px;
}

table.data tr td {
	vertical-align: top;
}

table.data tr.alt td {
	background: #eeeeee;
}


/* -------------------------------------------------
 * Forms
 * -------------------------------------------------*/

fieldset {
	/*display: inline-block;*/
	margin: 15px 0 20px 0;
	padding: 10px;
	border: none;
	border-top: 4px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	background: #EEEEEE;
}

legend {
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
}

#login-form label, .wide-label label {
	display: block;
	font-weight: bold;
}

fieldset div.section {
	margin-bottom: 10px;
}

fieldset div.section.left {
	margin-right: 10px;
}


.login { background: url(../images/icons/login.png) no-repeat scroll center left; }
.signup { background: url(../images/icons/signup.png) no-repeat scroll center left; }
.logout { background: url(../images/icons/logout.png) no-repeat scroll center left; }
.flag { background: url(../images/icons/attention.png) no-repeat scroll center left; }








	/*  Everything below here was copied from web template and should be cleaned up later */




.thin_rule{border-bottom:1px solid #ccc;padding:0 0 7px 0;}


.color_white{color:#fff;}
.color_site_1{color:#003f69;}
.color_site_2{color:#5bb6e6;}
.color_devnet{color:#8bc541;}
.color_embedded{color:#00a89c;}
.color_fossbazaar{color:#e01b51}
.color_mobile{color:#f05b28}
.color_news{color:#cf7028;}
.color_video{color:#912b8b;}
/* not set... place holders for future color needs */
.color_downloads{color:#1e96ba;}
.color_events{color:#1f7f19;}
.color_workgroups{color:#8e105e;}


/*
	alt colors (50%)
*/
.color_site_alt_1{color:#7f9fb4;}
.color_site_alt_2{color:#addaf2;}
.color_devnet_alt{color:#c4df9f;}
.color_embedded_alt{color:#82ceca;}
.color_fossbazaar_alt{color:#e7879f}
.color_mobile_alt{color:#f8ad92}
.color_news_alt{color:#e6b68b;}
.color_video_alt{color:#c693c2;}
/* not set... place holders for future color needs */
.color_downloads_alt{color:#8ecadc;}
.color_events_alt{color:#8ebf8c;}
.color_workgroups_alt{color:#c687ae;}



/*
	border colors (uses alt colors)
*/
.b_color_white{border-color: #fff;}
.b_color_site_1{border-color: #7f9fb4;}
.b_color_site_2{border-color: #addaf2;}
.b_color_devnet{border-color: #c4df9f;}
.b_color_embedded{border-color: #82ceca;}
.b_color_fossbazaar{border-color:#e7879f}
.b_color_mobile{border-color:#f8ad92}
.b_color_news{border-color: #e6b68b;}
.b_color_video{border-color: #c693c2;}
/* not set... place holders for future color needs */
.b_color_downloads{border-color: #8ecadc;}
.b_color_events{border-color: #8ebf8c;}
.b_color_workgroups{border-color: #c687ae;}


/*
	background colors (uses alt colors)
*/
.bg_color_white{background-color: #fff;}
.bg_color_site_1{background-color: #7f9fb4;}
.bg_color_site_2{background-color: #addaf2;}
.bg_color_devnet{background-color: #c4df9f;}
.bg_color_embedded{background-color: #82ceca;}
.bg_color_fossbazaar{background-color: #e7879f;}
.bg_color_mobile{background-color: #f8ad92;}
.bg_color_news{background-color: #e6b68b;}
.bg_color_video{background-color: #c693c2;}
/* not set... place holders for future color needs */
.bg_color_downloads{background-color: #8ecadc;}
.bg_color_events{background-color: #8ebf8c;}
.bg_color_workgroups{background-color: #c687ae;}





#two_col_col_1 {
	float:left;
	height:auto;
	margin:0 10px 0 0;
	width:668px;
}
#two_col_col_2{
	float:left;
	height:auto;
	width:302px;
}


ul.inline_list li{
	float:left;
	margin:0 0 0 0px;
	}

ul {
	list-style-type: none;
	margin:0 0 10px 0;
	padding:0;
	}



ul.list_none{
	list-style-type: none;
	margin:0;
	padding:0;
	}
ul.list_none li {
	
	font-size:12px;
	font-weight:normal;
	}			


	
ul.list_icon_right li {
	text-align:right;
	}
	
ul.foot_ul {
	width:170px;
	margin:0 10px 0 0;
	padding:0 10px 0 0;
	float:left;
	} 
	
li.list_link_none{
	color:#999;
	font-size:10px;
	font-weight:normal;
	text-transform:uppercase;
	margin:0 0 0 10px;
	padding:2px 0 1px 20px !important;
	line-height:20px !important;
	text-decoration:none;
	}
	
a.list-link-2,
a.list-link-3{
	color:#003f69;
	font-size:12px;
	font-weight:normal;
	text-transform:Capitalize;
	margin:0 0 0 0;
	padding:2px 0 1px 20px !important;
	line-height:20px !important;
	text-decoration:none;
	}
a.list-link-4{
	color:#003f69;
	font-size:12px;
	font-weight:normal;
	text-transform:Capitalize;
	margin:0 0 0 0;
	padding:2px 20px 1px 0 !important;
	line-height:20px !important;
	text-decoration:none;
	}	
	
	a.list-link.arrow {
	color:#213025;
	font-size:10px;
	font-weight:bold;
	margin:0 0 0 10px;
	padding:2px 0 1px 15px !important;
	line-height:20px !important;
	text-decoration:none;
	background-image: url(images/woa_icon_listarrow.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
a.none {
	margin:0 0 0 0;
	padding:2px 0 1px 0px !important;
	line-height:20px !important;
	text-decoration:none;
	}
a.no_margin{margin:0 0 0 0}
			
a.list-link:link{
	color:#666;
	text-decoration:none;
}
a.list-link:visited{
	color:#999;
	text-decoration:none;
}
a.list-link:hover{
	color:#5bb6e6;
	text-decoration:underline;
}
a.list-link:active{
	color:#999;
	text-decoration:none;
}

a.list-link-3:link{
	color:#003f69;
	text-decoration:none;
}
a.list-link-3:hover{
	color:#003f69;
	text-decoration:underline;
}

p em{ font-size:10px; font-style:normal; text-transform:capitalize }
p.align_right{ text-align:right}
p a { line-height:16px;}

p a.a2:link{color: #7f9fb4; margin:0 0 0 10px;}	
p a.a2:hover{color:#003f69; margin:0 0 0 10px;}	
p a.a3:link{color: #5bb6e6; margin:0 0 0 0px; font-weight:bold; text-decoration:none}	
p a.a3:hover{color:#5bb6e6; margin:0 0 0 0px; font-weight:bold; text-decoration:underline}
a:link{
	color:#003f69;
	/*text-decoration:none;*/
}
a:visited{
	color:#003f69;  /* original color: #7f9fb4; */
	text-decoration:none;
}
a:hover{
	color:#003f69;
	text-decoration:underline;
}
a:active{
	color:#003f69;
	text-decoration:none;
}




.breadcrumb{font-size:10px; color: #999; margin:0 0 5px;padding:0 0 5px 0;}

.breadcrumb a{
	background: transparent url(../images/icons/bullet.gif) no-repeat center right;
	text-decoration: none;
	padding-right: 12px; /*adjust bullet image padding*/
	color: #666;
}

.breadcrumb a:visited, .breadcrumb a:active{
	color: #666;
}

.breadcrumb a:hover{
	text-decoration: underline;
}

/* Messages */
div.error{
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 8px;
	background: #f7bcbc;
	border: 1px solid #ff3300;
}
div.success{
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 8px;
	background: #DDF8CC;
	border: 1px solid #80C65A;
}


/* Edit Roles Members style */
.members {
  position: relative;
  border-top: 4px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  background-color: #eeeeee;
  margin-top: 25px;
  padding-top: 15px;
}

.members h2 {
  position: absolute;
  top: -10px;
  left: 12px;
  padding: 0px 4px 0px 4px;
  background-color: #ffffff;
}

#remove {
  position: absolute;
  top: 18px;
  right: 4px;
}

.memberlist {
  position: relative;
  margin: 10px 0px 10px 0px;
  border-top: 4px double #cccccc;
}

.memberlist table {
 border-collapse:collapse;
 border-bottom: 4px double #cccccc;
}

.memberlist table th {
 text-align: left;
 border-bottom: 1px solid #cccccc;
}

#paginate {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}

/* -------------------------------------------------
 * Queue
 * -------------------------------------------------*/

table.queue {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.queue thead tr th, table.queue tfoot tr th {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #eee;
  text-align: left;
}

table.queue thead tr th.actions, table.queue tfoot tr th.actions {
  text-align: right;
}

table.queue tbody tr td {
  padding: 5px;
}

table.queue tbody tr td.actions {
  text-align: right;
}

table.queue tbody tr.even td {
  background-color: #efefef;
}

/* -------------------------------------------------
 * Uploads
 * -------------------------------------------------*/

div.upload-header {
  padding: 5px 10px;
  margin: 10px 15px 10px 15px;
  border-bottom: 2px solid #024060;
  background-color: #0f9eef;
}

div.upload-header span.step {
  display: inline-block;
  padding: 15px 30px 15px 5px;
  background: url(../images/layout/upload-arrow.png) no-repeat right top;
  font-size: 18px;
  color: #caeafa;
  cursor: pointer;
}

div.upload-header span.step.last {
  background: transparent;
}

div.upload-header span.step.active {
  font-weight: bold;
  color: #fff;
}

div.upload-nav {
  display: none;
  padding: 10px;
  margin: 10px 15px 10px 15px;
  border-top: 2px solid #024060;
}

h1.upload {
  margin: 15px 20px 20px 15px;
  color: #024060;
}

h2.upload {
  margin: 0 20px 0 15px;
}

p.upload-description {
  margin: 10px 20px 10px 15px;
}

table.upload-form {
  margin: 15px 15px 30px;
  border-spacing: 0;
  border-collapse:collapse;
}

table.upload-form tr td {
  padding: 10px;
}

table.upload-form tr td.upload-form-label {
  padding: 5px;
  vertical-align: top;
  font-weight: bold;
/*  background-color: #f2f2f2;*/
  color: #024060;
}

table.upload-form tr.desc td {
  padding: 0 10px 20px;
  font-size: 0.9em;
  color: #48647f;
}